<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h3>hol</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Feeds</h4>
                </div>
                <ul class="feeds p-b-20">
                    <li>
                        <div class="bg-info"><i class="fa fa-bell-o"></i></div> You have 4 pending tasks. <span class="text-muted">Just Now</span></li>
                    <li>
                        <div class="bg-success"><i class="ti-server"></i></div> Server #1 overloaded.<span class="text-muted">2 Hours ago</span></li>
                    <li>
                        <div class="bg-warning"><i class="ti-shopping-cart"></i></div> New order received.<span class="text-muted">31 May</span></li>
                    <li>
                        <div class="bg-danger"><i class="ti-user"></i></div> New user registered.<span class="text-muted">30 May</span></li>
                    <li>
                        <div class="bg-dark"><i class="fa fa-bell-o"></i></div> New Version just arrived. <span class="text-muted">27 May</span></li>
                    <li>
                        <div class="bg-info"><i class="fa fa-bell-o"></i></div> You have 4 pending tasks. <span class="text-muted">Just Now</span></li>
                    <li>
                        <div class="bg-danger"><i class="ti-user"></i></div> New user registered.<span class="text-muted">30 May</span></li>
                    <li>
                        <div class="bg-dark"><i class="fa fa-bell-o"></i></div> New Version just arrived. <span class="text-muted">27 May</span></li>
                </ul>
            </div>
        </div>
</div>
<div class="row">
    
</div>